@font-face {
    font-family: BalkaraCondensed;
    src: url(./fonts/BalkaraCondensed.otf);
    src: url(./fonts/BalkaraCondensed.ttf);
    src: url(./fonts/BalkaraCondensed.woff);
}
body {
    font-family: BalkaraCondensed;
    src: url(./fonts/BalkaraCondensed.otf);
    src: url(./fonts/BalkaraCondensed.woff);
    src: url(./fonts/BalkaraCondensed.otf);
}
.options{
    font-size: 30px;
    display: flex;
    justify-content: center;
    position: relative;
    max-width: 100%;
    top: 0;
    width: auto;
    padding: 10px;
}
.options ul{
    display: flex;
    justify-content: center;
    position: relative;
    list-style-type: none;
    z-index: 2;
}
.options a{
    display: flex;
    justify-content: center;
    position: relative;
    max-width: 100%;
    top: 0;
    width: auto;
    padding: 23px;
    color: #fff;
    text-decoration: none;
    z-index: 2;
}
section img{
    top: 0;
    left: 0;
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    object-fit: cover;
    filter: brightness(60%);
    z-index: -1;
}
article h2{
    display: flex;
    width: auto;
    font-size: 50px;
}
.label{
    margin-top: 20vh;
    color: #fff;
    position: relative;
    display: flex;
    justify-content: center;
    z-index: 2;
}

.button{
    text-align: center;
    color: #fff;
    border: 5px #fff solid;
    max-width: 100%;
    width: 7%;
    padding: 7px;
    border-radius: 20px;
    text-decoration: none;
}
 .cringe-for-button {
    margin-top: 10vh;
    display: flex;
    justify-content: center;
 }
