header h1{
        font-size: 50px;
        font-family: url(/AngelDecor2/fonts/BalkaraCondensed.ttf); /*шрифт нужно пофиксить хз как*/
        position: relative;
        width: 50%;
        top: 50%;
        left: 50%;
}

header {
    font-family:url(/AngelDecor2/fonts/BalkaraCondensed.ttf); ;
}

section img{
        filter: brightness(60%);
        position: relative;
        max-width: 100%;
        top: 0;
        left: 0;
        right: 0;
        margin: 0;
        padding: 0;
        white-space: nowrap;
}

/*nav li{
    width: 20%;
    display: inline-block;
    margin: 0;
    padding: 0;
    font-size: 40px;
    list-style-type: none;
}

nav ul {
    width: 100%;
    white-space: nowrap;
}
a.main-page{
    font-size: 20px;
    text-decoration: none;
    color: #000;
    position: absolute;
}
*/

/*
li a {
    left: 50px;
    text-align: center;
    top: 60px;
    position: absolute;
    display: inline-block;
    border: 2px red solid;
    text-decoration: none;
    color: #ffffff;
}
*/

/*
.lamps {
    left:auto;
    width: auto;
    display: inline-block;
    text-align: center;
    top: 0;
    border: 1px red solid;
    color: #ffffff;
    text-decoration: none;
    position: absolute;
}

.vasa {
    left:auto;
    width: auto;
    display: inline-block;
    text-align: center;
    top: 0;
    margin:0;
    border: 1px red solid;
    color: #ffffff;
    text-decoration: none;
    position: absolute;
}

.sculpt {
    left:auto;
    width: auto;
    display: inline-block;
    text-align: center;
    top: 0;
    border: 1px red solid;
    color: #ffffff;
    text-decoration: none;
    position: absolute;
}

.about {
    left:auto;
    width: auto;
    display: inline-block;
    text-align: center;
    top: 0;
    border: 1px red solid;
    color: #ffffff;
    text-decoration: none;
    position: absolute;
}

.others {
    left:auto;
    width: auto;
    display: inline-block;
    top: 0;
    border: 1px red solid;
    color: #ffffff;
    text-decoration: none;
    position: absolute;
}

li.services {
    width: auto;
    left: 50%;
    margin: 0;
    padding: 0;
    display:block;
    position: absolute;
    text-align: center;
}
*/ 

.lamps, .vasa, .sculpt, .about, .others {
    text-align: center;
}
nav {
    align-items: center;
}
ul {
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    
}

ul li a {
    width: 100%;
    display: flex;
    justify-content: center;
    justify-content: space-between 50px;
    text-decoration: none;
    font-size: 40px;
    color: #fff;
    position: absolute;
    top: 0;
    border: 1px red solid;
}

head, body, ul, li, h1, h2, footer, a {
    font-family: url(/AngelDecor2/fonts/BalkaraCondensed.ttf);
    margin: 0;
    padding: 0;
}

footer {
    display: flex;
    justify-content: center;
    background-color: rgb(163, 163, 163);
}

div.product {
    position: absolute;
    white-space: nowrap;
    border: 1px grey solid;
    display: flex;
    justify-content: center;
    background-color: aquamarine;
    max-width:100%;
    font-size: 220%;
    top: 40%;
    left: 45%;

}
article {
    display: flex;
    justify-content: center;
    background-color:bisque;

}

div.button a{
    font-size: 60px;
    top:50%;
    left: 45%;
    cursor: pointer;
    position: absolute;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    width: auto;
    height: auto;
    border: 1px green solid;
    border-radius: 60px;
    background-color: green;
}